body {

    color: #fff;
    font-family: 'Courier New', Courier, monospace;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;
background-color: rgba(10, 10, 20, 1.00);
background-image:
  radial-gradient(282px 282px at 43% 100%, rgba(255, 45, 136, 0.29) 0%, rgba(255, 45, 136, 0.29) 7%, rgba(255, 45, 136, 0.00) 100%),
  conic-gradient(from 212deg at 39% 88%, rgba(255, 0, 0, 0.00) 40%, rgba(255, 45, 136, 0.29) 46%, rgba(255, 255, 255, 0.40) 48%, rgba(249, 249, 249, 0.40) 52%, rgba(255, 45, 136, 0.29) 54%, rgba(255, 0, 0, 0.00) 60%),
  conic-gradient(from 77deg at 45% 47%, rgba(255, 0, 0, 0.00) 30%, rgba(255, 45, 136, 0.29) 46%, rgba(255, 255, 255, 0.40) 48%, rgba(249, 249, 249, 0.40) 52%, rgba(255, 45, 136, 0.29) 54%, rgba(255, 0, 0, 0.00) 69%),
  conic-gradient(from 296deg at 7% 11%, rgba(255, 0, 0, 0.00) 10%, rgba(255, 45, 136, 0.29) 46%, rgba(255, 255, 255, 0.40) 48%, rgba(249, 249, 249, 0.40) 52%, rgba(255, 45, 136, 0.29) 54%, rgba(255, 0, 0, 0.00) 60%);
background-blend-mode: screen, screen, screen, difference;

margin: 0;
height: 100vh;
}
.continer{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
align-items: center;
justify-items: center;
    gap: 2rem;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    border: 1px solid #888;
    border-radius: 12px;
    padding: 55px;
}
.item{
    width: 8rem;
    height: 8rem;
    border: 1px solid;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    transition: all 400ms ease-in;
    cursor: pointer;

}

.item:hover{
    color: red;
    transform: scale(1.1)  rotate(4deg);
    box-shadow:  0px 0px 68px inset;
}